/* h1 {
    text-align: center;
    padding: 5px;
}

header{
    padding: 50px;
}

.page {
    padding: 100px;
  }

  body {
    background-color: #fff4e6;
    line-height: 1.6;
    letter-spacing: 0.1em;
  } */

  figcaption{
    text-align: right;
    font-family: cursive;
    font-size: 15px;
  }