/* Universal CSS styling*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9e5dc;
}

/* Shadow styling upon button hovering*/
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/* Navigation bar */
#name {
  background-color: #be9b7b;
  padding: 30px;
}

.customNav {
  width: 100%;
  background-color: #e9e5dc !important;
  /* z-index: 10; */
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

.nav-item {
  margin: 0px 15px;
}

.navbar-nav .nav-item .nav-link {
  color: black;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: cyan;
}

.herobanner {
  height: calc(100vh - 25px);
  background-image: url('../images/hero-banner.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid black;
}

/* Jumbotron copy */
.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  text-align: center;
}

figcaption {
  text-align: right;
  font-family: cursive;
  font-size: 15px;
}

.bg-image {
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.border-bottom:after {
  content: "";
  display: block;
  border-bottom: 3px solid black;
  margin: 0 15px;
}

/* About Me Section */


/* Contact Section */
a {
  color: black;
}

a:hover {
  color: cyan;
}

/* Media Queries */
@media screen and (max-width: 991px) {
  .navbar-nav {
    display: inline-block;
  }
}